<launch>
	<!-- Launch Your robot arms launch file which loads the robot in Gazebo and spawns the controllers -->
	<arg name="show_gz_gui" default="true"/>
	<param name="use_gazebo" value="true"/>
  	<include file="$(find flo_core)/launch/gazebo_full_system.launch" > 
	    <arg name="gui" value="$(arg show_gz_gui)"/>
	</include>
  	
  	<!-- Launch Moveit Move Group Node -->
    <include file="$(find flo_core)/launch/move_group.launch" />
  	
  	<!-- Run Rviz and load the default configuration to see the state of the move_group node -->
  	<arg name="show_rviz_gui" default="true" />
  	<include file="$(find flo_core)/launch/moveit_rviz.launch" if="$(arg show_rviz_gui)">
 	 	<arg name="rviz_config" value="$(find flo_core)/launch/moveit.rviz"/>
 	</include>
</launch>
