<launch>
  <!-- Legacy compatibility wrapper. Prefer moveit_gazebo_bringup.launch for new callers. -->
  <arg name="show_gz_gui" default="true"/>
  <arg name="show_rviz_gui" default="true" />
  <arg name="pipeline" default="ompl" />
  <arg name="paused" default="false" />
  <arg name="world_name" default="worlds/empty.world" />
  <arg name="world_pose" default="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" />

  <include file="$(find flo_core)/launch/moveit_gazebo_bringup.launch" pass_all_args="true">
    <arg name="show_gz_gui" value="$(arg show_gz_gui)"/>
    <arg name="show_rviz_gui" value="$(arg show_rviz_gui)"/>
  </include>
</launch>
