<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="servo_position_drive">
  <xacro:macro name="servo_position_drive" params="prefix:=servo joint_name:=neck_joint">
    <!--<transmission name="tran1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="servo">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>${robotname}</robotNamespace>
      </plugin>
    </gazebo>-->
    <gazebo>
      <plugin name="gazebo_ros_joint_pos_control" filename= "libtb_gazebo_ros_servo_pos_drive.so">
         <updateRate>100</updateRate>
         <robotNamespace>${robotname}</robotNamespace>
         <jointName>neck_joint</jointName>
         <controllerKp>7</controllerKp>
         <controllerKi>0.1</controllerKi>
         <controllerKd>0.2</controllerKd>
         <torque>50</torque>

      </plugin>
    </gazebo>

  </xacro:macro>
</robot>
