<?xml version="1.0"?>
<launch>
  <arg name="debug" default="false"/>
  <arg name="scenario" default="kolvn_office"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="robot_ns" default="tb_sim"/>
  <arg name="enable_teleop" default="true"/>
  <arg name="use_external_controller" default="false"/>
  <arg name="use_joystick" default="false"/>
  <arg name="enable_rviz" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"
         value="$(find gazebo_environment)/worlds/$(arg scenario).world" />

    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args) --verbose"/>
  </include>

  <include file="$(find tb_gazebo)/launch/spawn_tb.launch">
    <arg name="x" value="1.0"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="0.3"/>
    <arg name="robot_ns" value="$(arg robot_ns)"/>
    <arg name="enable_rviz" value="$(arg enable_rviz)"/>
  </include>

  <group if="$(arg enable_teleop)">
    <include file="$(find tb_teleop)/launch/manual_controller.launch">
      <arg name="use_external_controller" value="$(arg use_external_controller)"/>
      <arg name="use_joystick" value="$(arg use_joystick)"/>
    </include>
  </group>

</launch>
