<launch>
  <arg name="publish_joint_states" default="true"/>
  <arg name="motor_device" default="/dev/flo_motors"/>

  <include file="$(find flo_humanoid)/launch/read_write_arms.launch">
    <arg name="publish_joint_states" value="$(arg publish_joint_states)"/>
    <arg name="motor_device" value="$(arg motor_device)"/>
  </include>

  <param name="robot_description" command="cat $(find flov2_robot_description)/urdf/flov2_robot_description.urdf" />

  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher"
        output="screen"/>
</launch>
