<launch>
  <rosparam file="$(find flo_humanoid)/config/dynamixel_ids.yaml" command="load"/>
  <rosparam file="$(find flo_humanoid)/config/dynamixel_offsets.yaml" command="load"/>

  <node pkg="flo_humanoid"
        type="read_write_arms_node"
        name="read_write_arms_node"
        output="screen"/>
</launch>
