<launch>
  <!-- User arguments -->
  <arg name="baudrate" default="1000000"/>
  <arg name="publish_joint_states" default="true"/>

  <!-- Load IDs and mechanical offsets to parameter server -->
  <rosparam file="$(find flo_humanoid)/config/dynamixel_ids.yaml" command="load"/>
  <rosparam file="$(find flo_humanoid)/config/dynamixel_offsets.yaml" command="load"/>

  <!-- Driver node (talks to Dynamixel hardware) -->
  <node pkg="flo_humanoid"
        type="read_write_arms_node"
        name="read_write_arms_node"
        output="screen"/>

  <!-- Bridge: /joint_states -> /set_arms_joint_positions -->
  <!-- <node pkg="flo_humanoid"
        type="joint_state_to_dual_arm_motors.py"
        name="joint_state_to_dual_arm_motors"
        output="screen"/> -->

  <!-- Optional: GUI publisher for /joint_states (requires robot_description) -->
  <!--
  <node pkg="joint_state_publisher_gui"
        type="joint_state_publisher_gui"
        name="joint_state_publisher_gui"
        output="screen"/>
  -->

  <!-- publishes aggregated /joint_states so MoveIt sees hardware   -->
  <node pkg="joint_state_publisher"
        type="joint_state_publisher"
        name="joint_state_publisher"
        if="$(arg publish_joint_states)">
    <param name="use_gui" value="false"/>
  </node>
</launch>
