<launch>
  <!-- parameters -->
  <arg name="video_device" default="/dev/video0"/>
  <arg name="width"        default="1280"/>
  <arg name="height"       default="720"/>
  <arg name="framerate"    default="30"/>
  <arg name="pixel_format" default="mjpeg"/>
  <arg name="image_topic"  default="/usb_cam/image_raw"/>

  <!-- camera driver (1280x720@30; if failed, change to yuyv+640x480) -->
  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen">
    <param name="video_device"  value="$(arg video_device)"/> # /dev/video2
    <param name="image_width"   value="$(arg width)"/>
    <param name="image_height"  value="$(arg height)"/>
    <param name="framerate"     value="$(arg framerate)"/>
    <param name="pixel_format"  value="$(arg pixel_format)"/>
    <param name="io_method"     value="mmap"/>
  </node>

  <!-- Apriltag detection node (default subscribe /usb_cam/image_raw, can be remapped) -->
  <node pkg="flo_vision" type="Apriltag_detect.py" name="apriltag_detect" output="screen">
    <remap from="/usb_cam/image_raw" to="$(arg image_topic)"/>
  </node>
</launch>